{% extends 'AppBundle::layout.html.twig' %}

{% block menu_calendar %}active{% endblock %}

{% block contents %}
    <section>
        <div class="container">
            <h2>Calendrier</h2>

            <h3>Prochaines diffusions</h3>
            {% if items is defined %}
                <div class="row">
                    {% for show in items %}
                        <div class="col-sm-6" style="padding: 20px 20px;">
                            <div class="row">
                                <div class="col-sm-6">
                                    {% if show.image[:5] != 'https' %} {# Pas trouvé mieux #}
                                        <img class="pull-left"
                                             src="{{ web_image('uploads/'~show.image).resize(300, 200).png }}"/>
                                    {% else %}
                                        <img class="pull-left" src="{{ image(show.image).resize(300, 200).png }}"/>
                                    {% endif %}
                                </div>
                                <div class="col-sm-6">
                                    <h4>{{ show.name }}</h4>
                                    {% if show.seasons is defined %}
                                        {% for season in show.seasons %}
                                            <p>
                                                <b>Saison n°{{ season.number }}</b><br/>
                                                {% if season.episodes is defined %}
                                                    Episodes :
                                                    <ul>
                                                        {% for episode in season.episodes %}
                                                           <li> {{ episode.name }} - {{ episode.date|date('d/m/Y') }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}